.locationCont {
    width: 100px;
    height: 35px;
    text-align: left;
    color: #888;
    line-height: 35px;

}

.locationCont h1 {
    margin: 0;
    white-space: nowrap;
}

.weatherLocationCont {
    width: 400px;
    padding: 25px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0, 0, 0, 0.75);
}