.locationList {
    height: 85vh;
    overflow: auto;
}

.forecastExtended {
    color: #ffff;
    overflow: auto;
    padding: 15px 0px;
    text-align: center;
}
@media(max-width: 64em){
    .locationList {
        margin-bottom: 20%;
        max-height: 30vh;
    }
}